/* shanebbos.css */

body {
   background: #909193 url(images/bg.jpg) repeat;
   font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
}

h1 {
   color: black;
	font-size: 24pt;
	font-weight: normal;
	font-style: normal;	
   border-bottom: 1px solid black;
}

h2 {
   color: black;
	font-size: 20pt;
	font-weight: normal;
	font-style: normal;
}

h3 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 16pt;
	font-weight: normal;
	font-style: normal;	
}

#display {
	background-color:#D0D0D0;
	border: 2px solid #585858; 
	cursor: default;
}

.normal_button {
	width: 100px;
}

#taLog {
	border: 2px solid #585858; 
	cursor: default;
}

#taProgramInput {
	border: 2px solid #585858; 
	cursor: default;
}

#memoryTable {
    background-color:#D0D0D0;
	border: 2px solid #585858; 
	cursor: default;
	font-size: 12pt;
	width: 250px;
}

#divMemory {
    height: 400px;
    width: 265px;
    overflow: auto;
}

#thirdColumn {
	width: 265px;
}

#CPUtable {
    background-color:#D0D0D0;
	border: 2px solid #585858; 
	cursor: default;
	width: 265px;
	font-size: 12pt;
}

.label {
    text-align: center;
    display: block;
    font-size: 14pt;
}

.footerText {
   color: black;
   font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
   text-align: center;
}
